html, body { font-size: 100%; }
body
{
	overflow: hidden;
	
	background: #bde7f5;
	color: #270f69;
    font-family: sans-serif;
}

#canvas-main
{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;
	
	cursor: crosshair;
}

.info-window
{
	position: absolute;
	top: 0; right: 0;
	
	z-index: 200;
	
	max-width: 33%;
	
	margin: 0; padding: 0.25em 0.45em 0.25em 0.75em;
	
	background: #34b5e1;
	border-radius: 0 0 0 0.5em;
}

ul, li { margin: 0.2em 0.2em 0.2em 0.6em; padding: 0.2em; }
